.student-info-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.school-info {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-height: 100px;
}

.school-details {
    display: flex;
    flex-direction: column;
}

.school-details h1 {
    font-size: 36px;
    margin: 0;
}

.school-details h2 {
    font-size: 24px;
    margin: 0;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: right;
}

.academic-info {
    margin: 20px 0;
}

.academic-info h3 {
    margin: 0 0 10px;
    font-size: 24px;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

thead {
    background-color: #ddd;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
}

.feas-info {
    margin: 20px 0;
}

.fees-info h3 {
    margin: 0 0 10px;
    font-size: 24px;
}

.fees-info table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 10px;
}

.remarks-info {
    margin-top: 20px;
}

.remarks-info h3 {
    margin: 0 0 10px;
    font-size: 24px;
}
.print-button {
    display: block;
  }
  
  @media print {
    .print-button {
      display: none;
    }
  }